:host {
  color: red;
  font-size: 1.5em;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-animation: pulse 0.5s 0 infinite alternate-reverse;
          animation: pulse 0.5s 0 infinite alternate-reverse;
}
@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}
@keyframes pulse {
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}
